@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Protest Guerrilla', sans-serif;
}

body{
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    box-shadow: rgba(100, 100, 100, 0.1);
}

.container .login-form .forms h1{
    color: white;
    letter-spacing: 0.4rem;
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    margin: 20px 0;
}

.container .login-form .login-img img{
    height: 150px;
    width: 450px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.container .login-form{
    background-color: black;
    border-radius: 30px 30px 15px 15px;
    height: 630px;
}

.login-form_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.container .forms .custom-input input{
    margin: 5px 20px;
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 8px;
    color: black;
    padding: 0 15px;
    background-color: white;
    transition: all 0.3s ease-in-out;
    letter-spacing: 1px;
}

.form-button button{
    width: 300px;
    height: 40px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 1px;
    background-color: white;
    margin: 20px 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.form-button button:hover{
    background-color: #777777;
    color: white;
}

.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    gap: 5px;
    font-weight: 400;
    letter-spacing: 1px;
}

.links a{
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

}

.links a:hover{
    text-decoration: underline;
}

.logo a{
    color: white;
    text-decoration: none;
    font-size: 28px;
    border: 2px dotted white;
    padding: 10px 15px;
}

.logo{
    margin-top: 10px;
}